/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{margin: 0; padding: 0; box-sizing: border-box;}

/* Cormorant font */

@font-face {
    font-family: 'cormorant-bold';
    src: url(../assets/fonts/cormorant/Cormorant-Bold.otf);
}

@font-face {
    font-family: 'cormorant-semibold';
    src: url(../assets/fonts/cormorant/Cormorant-SemiBold.otf);
}

@font-face {
    font-family: 'cormorant-medium';
    src: url(../assets/fonts/cormorant/Cormorant-Medium.otf);
}

@font-face {
    font-family: 'cormorant-regular';
    src: url(../assets/fonts/cormorant/Cormorant-Regular.otf);
}

@font-face {
    font-family: 'cormorant-light';
    src: url(../assets/fonts/cormorant/Cormorant-Light.otf);
}

/* Proxima nova font */

@font-face {
    font-family: 'proxima-bold';
    src: url(../assets/fonts/provima_nova/Proxima\ Nova\ Bold.otf);
}

@font-face {
    font-family: 'proxima-semibold';
    src: url(../assets/fonts/provima_nova/Proxima\ Nova\ Semibold.otf);
}

@font-face {
    font-family: 'proxima-regular';
    src: url(../assets/fonts/provima_nova/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'proxima-thin';
    src: url(../assets/fonts/provima_nova/Proxima\ Nova\ Thin.otf);
}

:root{
    --top-spacing: 80px;
    --primary-color: #854b34;
    --background-color: #f3f3f3;
    --text-color: #3e3534;
    --spacing-1: 1px;
    --spacing-2: 2px;
    --spacing-3: 3px;
    --spacing-4: 4px;
    --spacing-5: 5px;
    --swiper-pagination-color: var(--primary-color);
}

.shop-now-btn{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: var(--background-color);
    text-decoration: none;
    padding: 12px 36px;
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

.shop-now-btn:hover{
    background-color: #5d3324;
}


p{
    margin-bottom: 0 !important;
}

body{
    background-color: var(--background-color);
    position: relative;
    height: 100%;
}


/* Navbar styling*/

.header-msg{
    padding: 12px 16px;
    font-family: 'proxima-regular';
    font-size: 0.9rem;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.header-msg .msg-close-btn{
    cursor: pointer;

}

.navbar{
    background-color: #fff;
}

.navbar-brand .logo{
    height: 80px;
}

.navbar-toggler{
    border: none;
    outline: none !important;
    padding: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-item .nav-link{
    font-family: 'proxima-semibold';
    font-size: 1.05rem;
    color: var(--text-color);
    margin: 0 16px;
    padding: 0 !important;
    position: relative;
}

.nav-item .nav-link:hover{
    color: var(--primary-color);
}

.nav-item .nav-link::before{
    content: '';
    width: 0;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.nav-item .nav-link:hover::before{
    width: 100%;
}

.navbar .container-fluid{
    position: relative;
}

.navbar .mobile-cart{
    position: absolute;
    right: 55px;
    top: 25px;
}

.nav-icons span, .cart-icon-m{
    color: var(--primary-color);
    cursor: pointer;
}   

.nav-icons .cart-icon{
    position: relative;
}

.cart-icon-m{
    position: relative;
}

.nav-icons .cart-icon .count-badge, .cart-icon-m .count-badge{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 0.87rem;
    font-family: 'proxima-regular';
    width: 22px;
    height: 22px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -6px;
    top: -3px;
}

.nav-icons span .auth-dropdown{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-color);
}

.dropdown-toggle::after{
    content: none;
}

.heading{
    font-family: 'cormorant-bold';
    text-align: center;
    /* margin-top: 100px; */
    font-size: 8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--background-color);
}

p{
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    /* letter-spacing: var(--spacing-1); */
}

@media(max-width: 768px){
    .nav-item{
        margin: 6px 0;
    }
}

@media(max-width: 576px){
    .navbar-brand .logo{
        height: 65px;
    }
    .navbar-toggler img{
        height: 20px;
    }   
}
/* Navbar styling*/


/* Swiper js styling */

.swiper {
    width: 100%;
    height: 600px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-img-bg-1{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url("https://sitarastudio.pk/cdn/shop/articles/87_3.webp?v=1707206116");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;    
  }


  .slide-img-bg-2{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url("https://safwa.pk/cdn/shop/articles/101d9a8bb40d9a8718ac093ca9c28fa9.jpg?v=1703887083&width=1000");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;    
  }
  
  .slide-img-bg-3{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url("https://safwa.pk/cdn/shop/files/40_dbfd5a96-a137-4891-9e78-14eeb0ef25e9.jpg?v=1730699767&width=1400");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;    
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--background-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--background-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  @media(max-width: 576px){
    .swiper{
        height: 500px;
    }
  }

/* Swiper js styling */


/* Marquee styling */

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.marquee{
    overflow: hidden;
    background-color: var(--primary-color);
    padding: 40px 0;
    display: flex;
}

.marquee-slide{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 20s infinite linear;
}

.marquee-content{
    height: 50px;
    display: flex;
}

.marquee-content img{
    height: 50px;
    filter: invert(1);
    margin: 0 32px;
}

.marquee-content h3{
    font-size: 2.5rem;
    font-family: 'cormorant-semibold';
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 0 !important;
}

.marquee:hover .marquee-slide{
    animation-play-state: paused;
}

@media (max-width: 576px){
    .marquee-content{
        height: 30px;
    }

    .marquee-content img{
        height: 30px;
    }

    .marquee-content h3{
        font-size: 1.5rem;
    }
}


/* Marquee styling */


/* Latest products styling */

.latest-products-section{
    margin-top: var(--top-spacing);
    padding: 0 32px;
}

.heading-div .separator{
    width: 300px;
    /* height: 5px; */
    margin: 0 16px;
    border: 1px dashed var(--primary-color);
}

.section-heading{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'cormorant-bold';
    text-transform: capitalize;
    color: var(--text-color)
}

.product-link{
    text-decoration: none;
    display: inline !important;
}

.product-card{
    margin: 0 12px 120px 12px;
    height: 400px;
    width: 300px;
    padding: 0 !important;
}

.product-card .product-img-div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

.product-card .product-img-div img{
    height: 100%;
    width: 100%;
}

.product-card .product-details-div{
    margin-top: 16px;
    /* text-align: center; */
}

.product-card .product-details-div .product-title{
    font-family: 'proxima-semibold';
}

.product-card .product-details-div .product-price{
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    color: var(--text-color);
    display: inline;
}

.product-card .product-details-div .product-discounted-price{
    color: rgba(255, 0, 0, 0.693);
    display: inline;
    font-size: 1.3rem;
    margin-left: 6px;
}

.discount-strike{
    text-decoration: line-through;
    font-size: 1rem;
}

.load-btn-div{
    position: relative;
    bottom: 40px;
    margin-bottom: 18px;
}

.load-btn-div .load-more{
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    width: 150px;
    height: 45px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.load-btn-div .load-more:hover{
    background-color: #5d3324;
}

.load-more .spinner-border{
    display: none;
    margin: 0 auto;
}

#more-products{
    display: none;
    font-size: 1.1rem;
    font-family: 'proxima-regular';
    color: var(--text-color);
}

  .latest-products-section .view-more-btn{
    transform: translateY(-36px);
    background: var(--primary-color);
    color: var(--background-color);
    padding: 12px 36px;
    transition: all 0.2s ease-in-out;
  }

  .latest-products-section .view-more-btn:hover{
    background-color: #5d3324;
  }


  @media(max-width: 1065px){
    .heading-div .separator{
        width: 150px;
    }
  }

  @media(max-width: 992px){
    .product-card{
        height: 300px;
        width: 200px;
    }

    .mini-size-box{
        width: 100px;
        right: -110%;
    }

    .radio-inputs .radio .name{
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .mini-size-box .mini-add-to-cart{
        font-size: 0.7rem;
        padding: 4px;
    }
  }

  @media(max-width: 768px){
    .latest-products-section{
        padding: 0 12px;
    }
    .section-heading{
        font-size: 2.5rem;
    }
    
    .heading-div .separator{
        margin: 0 8px;
        width: 100px;
    }

  }

  @media(max-width: 576px){
    .heading-div .separator{
        display: none;
    }
    .section-heading{
        font-size: 2rem;
        margin: 0 4px;
    }

    .latest-products-section .view-more-btn{
        padding: 6px 24px;
    }

    .latest-products-section .view-more-btn p{
        font-size: 0.9rem;
    }

    .latest-products-section .view-more-btn p i{
        margin-top: 1px;
    }
    .product-info-div .product-actual-price{
        margin-right: 2px;
    }
  }

  
  @media(max-width: 488px){
    .product-card{
        height: 180px;
        width: 130px;
        margin: 0 12px 120px 12px;
    }
    .product-card .product-details-div .product-title{
        font-size: 0.8rem;
        font-weight: 400;
    }
    .product-card .product-details-div .product-price{
        font-size: 0.8rem;
        font-family: 'proxima-semibold';
        margin-right: 0;
    }
    .product-card .product-details-div .product-discounted-price{
        font-size: 0.9rem;
        margin-left: 2px;
    }
    .product-card .product-img-div .product-cart-icon{
        display: none;
    }
  }

  @media(max-width: 330px){
    .product-card{
        height: 180px;
        width: 120px;
    }
  }


/* Latest products styling */

/* Fabric quality section styling */

.fabric-quality-section{
    margin-top: var(--top-spacing);
    padding: 0 48px;
}

.fabric-quality-img-div{
    height: 600px;
    width: 500px;
    padding: 0 !important;
    border: 2px dashed var(--primary-color);
}


.fabric-quality-img-div img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.fabric-quality-content-div h3{
    font-family: 'cormorant-bold';
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 32px;
}

.fabric-quality-content .fabric-img{
    background-color: rgb(236, 236, 236);
    border-radius: 50%;    
    border: 2px dashed var(--primary-color);
    padding: 12px;
}

.fabric-quality-content .fabric-img img{
    width: 36px;
}

.fabric-quality-content h4{
    font-family: 'cormorant-bold';
    text-transform: capitalize;
    color: var(--primary-color);
}

.fabric-quality-content p{
    font-family: 'proxima-regular';
    color: var(--text-color);
}

@media (max-width: 576px){
    .fabric-quality-section{
        padding: 0 16px;
    }
    .fabric-quality-img-div{
        height: 400px;
        width: 300px;
    }
    .fabric-quality-content-div h3{
        font-size: 2.3rem;
    }
    .fabric-quality-content p{
        font-size: 1rem;
    }
}

/* Fabric quality section styling */


/* Poly cotton section */

.poly-cotton-section{
    margin-top: var(--top-spacing);
    padding: 24px 48px;
    background-color: var(--background-color);
}

.tag-line{
    color: var(--text-color);
    font-family: 'proxima-regular';
    font-size: 1.3rem;
    text-align: center;
}

.polyswiper{
    overflow: hidden;
    height: 500px;
}


.polyswiper .swiper-slide{
    height: 500px;
    width: 300px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more-btn{
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'proxima-regular';
}

.view-more-btn p{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.view-more-btn:hover .bi-arrow-right-short{
    transform: translateX(4px);
}

.view-more-btn .bi-arrow-right-short{
    transition: all 0.2s ease-in-out;
    margin-top: 2px;
}

@media (max-width: 1200px){
    .polyswiper .swiper-slide{
        height: 450px;
    }
}

@media (max-width: 900px){
    .polyswiper .swiper-slide{
        height: 350px;
        width: 250px;
    }
    .polyswiper .swiper-slide .product-card .product-cart-icon, .mini-size-box{
        display: none;
    }   
}

@media (max-width: 768px){
    .tag-line{
        font-size: 1rem;
        margin-top: 16px;
    }

    .polyswiper{
        height: 350px;
    }

    .polyswiper .swiper-slide{
        height: 300px;
        width: 250px;
        margin-right: 12px;

    }

    .polyswiper .swiper-slide .product-card{
        height: 250px;
        width: 200px;
    }

    .polyswiper .swiper-slide .product-card .product-title{
        font-size: 0.9rem;
    }

    .polyswiper .swiper-slide .product-card .product-price{
        font-size: 0.9rem;
    }
}

@media (max-width: 576px){
    .tag-line{
        font-size: 0.9rem;
    }

    .poly-cotton-section{
        padding: 24px 8px 0px 8px;
    }

    .polyswiper{
        height: 250px;
    }
    
    .polyswiper .swiper-slide{
        height: 220px;
        width: 150px;      
        margin-right: 8px !important;
    }

    .polyswiper .swiper-slide .product-card{
        height: 100%;
        width: 100%;
    }

    .polyswiper .swiper-slide .product-card .product-title{
        font-size: 0.8rem;
    }
    .polyswiper .swiper-slide .product-card .product-price{
        font-size: 0.8rem;
    }

    .view-more-btn p{
        font-size: 0.7rem;
    }

    .view-more-btn p i{
        display: none;
    }
}


/* Poly cotton section */

/* newsletter section */
.letter-section{
    background-color: rgb(236, 236, 236);
    padding: 24px 48px;
}

.letter-section h4{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'cormorant-bold';
}

.letter-section .letter-form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.letter-section input{
    padding: 16px;
    border: 1px solid var(--primary-color);
    outline: none;
    font-family: 'proxima-regular';
}

.letter-section button{
    border: none;
    font-family: 'proxima-regular';
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0 12px;
}

@media (max-width: 576px){
    .letter-section{
        padding: 24px 16px;
    }

    .letter-section input{
        padding: 8px;
        font-size: 0.9rem;
    }

    .letter-section button{
        font-size: 0.9rem;
    }
}


/* newsletter section */

/* Footer section */

footer{
    background-color: rgb(236, 236, 236);
    font-family: 'proxima-regular';

}

footer .navbar-brand .logo{
    height: 100px;
}

footer .social-icon{
    font-size: 1.4rem;
    color: var(--primary-color);
}

footer .footer-link:hover{
    color: var(--primary-color);
}

/* Footer section */


/* contact page */

.contact-container{
    background-color: rgb(236, 236, 236);
    margin: 80px auto;
    padding: 48px;
    box-shadow:
  0px 0.7px 4.8px -44px rgba(0, 0, 0, 0.153),
  0px 2.5px 16.1px -44px rgba(0, 0, 0, 0.227),
  0px 11px 72px -44px rgba(0, 0, 0, 0.38)
;
}

.contact-info-div h5{
    font-size: 1.5rem;
    font-family: 'cormorant-bold';
    text-transform: capitalize;
}

.contact-info-div .contact-logo{
    height: 150px;
    /* border: 2px solid red; */
    margin-bottom: 16px;
}

.contact-info-div p{
    font-family: 'proxima-regular';
    color: var(--primary-color);
    margin: 12px auto;
    font-size: 1.2rem;
}


.contact-form-div form div{
    display: flex;
    flex-direction: column;
}

.contact-form-div form div label{
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-family: 'proxima-regular';
}

.contact-form-div form div input, textarea{
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 6px 8px;
    font-family: 'proxima-regular';
    background-color: transparent;
}

.contact-form-div form div button{
    background-color: var(--primary-color);
    border: none;
    padding: 12px;
    color: var(--background-color);
    font-size: 1.1rem;
    font-family: 'proxima-regular';
    transition: all 0.2s ease-in-out;
}

.contact-form-div form div button:hover{
    background-color: #5d3324;
}

.contact-form-div form div button:active{
    transform: scale(0.97);
}

@media (max-width: 768px){
    .contact-info-div{
        margin-bottom: 24px;
    }
    .contact-info-div .contact-logo{
        height: 100px;
    }
}

@media(max-width: 576px){
    .contact-container{
        padding: 24px 16px;
    }
}
/* contact page */


/* about page */

.about-container{
    margin: var(--top-spacing) auto;
    padding: 0 48px;
}

.about-container .row{
    margin: 36px auto;
}

.about-container h2{
    font-family: 'cormorant-bold';
    font-size: 2.5rem;
}

.about-container p{
    font-family: 'proxima-regular';
    color: var(--text-color);
}

.about-container .about-product-img{
    height: 500px;
    width: 400px;
}

.about-container .about-product-img img{
    height: 100%;
    width: 100%;
}

@media(max-width: 992px){
    .about-container .row{
        margin: 60px auto;
    }

    .about-container .row div{
        margin-bottom: 32px;
    }
}

@media(max-width: 576px){
    .about-container{
        padding: 0 16px;
    }
    .about-container .about-product-img{
        height: 400px;
        width: 300px;
    }
}

/* about page */

/* products page */
.products-main, .contact-main, .about-main, .cart-main, .checkout-main, .thankyou-main{
    margin-top: var(--top-spacing);
}

.all-products-section .row{
    margin: 60px auto;
}

#all-products .spinner-border{
    height: 80px;
    width: 80px;
    color: var(--primary-color);
}


.filter-btn{
    padding: 8px 24px;
    border: none;
    outline: none;
    font-family: 'proxima-regular';
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover{
    background-color: #5d3324;
}

.sort-btn{
    padding: 8px 24px;
    border: none;
    outline: none;
    font-family: 'proxima-regular';
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

#reset-filters, #reset-sort{
    display: none;    
}

.dropdown-item label, input[type=radio]{ 
    cursor: pointer;
}

@media(max-width: 576px){
    .filter-btn, .sort-btn{
        padding: 6px 12px;
        font-size: 0.8rem;
    }
    .filter-btn ~ .dropdown-menu > .dropdown-item, .sort-btn ~ .dropdown-menu > .dropdown-item{
        font-size: 0.8rem;
    }
}

/* products page */


/* Auth forms */

.auth-main{
    margin: var(--top-spacing) auto;
}

.auth-form-div{
    width: 350px;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.182);
}

.auth-form-div img{
    height: 80px;
    margin: 8px auto;
    display: block;
}

.auth-form-div h3{
    font-family: 'proxima-bold';
    text-align: center;
}

.auth-form-div form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
}

.auth-form-div form div label{
    display: block;
    margin-bottom: 8px;
    font-family: 'proxima-semibold';
}

.auth-form-div form input{
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    padding: 6px;
    outline: none;
    font-family: 'proxima-regular';
}

.auth-form-div form #signup-btn, #login-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: 'proxima-regular';
    font-size: 1.1rem;
}

.auth-form-div .login-link, .signup-link{
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'proxima-semibold';
}

.auth-form-div form .message-div p{
    font-size: 0.9rem;
    font-family: 'proxima-regular';
}


.remember-div label{
    display: inline !important;
    font-family: 'proxima-regular' !important;
}

.remember-div input{
    width: 5% !important;
}

/* Auth forms */

/* product details page styling */

.product-main{
    margin: var(--top-spacing) auto;
}

.product-imgs-div .other-imgs-div .product-img.active{
    border: 2px solid var(--primary-color);
}

.product-imgs-div .other-imgs-div .product-img img{
    height: 120px;
    width: 80px;
    cursor: pointer;
}

.product-imgs-div .product-main-img img{
    height: 500px;
    width: 350px;
}

.product-info-div{
    font-family: 'proxima-regular';
}


.product-info-div h2{
    font-family: 'proxima-semibold';
}

.product-info-div .product-actual-price{
    display: inline;
    font-size: 1.2rem;
    margin-right: 6px;
}

.product-info-div .product-discounted-price{
    display: inline;
    font-size: 1.4rem;
    color: red;
}


.product-info-div .radio-inputs {
    margin-bottom: 4px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(214, 214, 214);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: auto;
    font-size: 14px;
    border-radius: 0px !important;
}

.product-info-div .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    width: 40px;
    border-radius: 0px !important;
}

.product-info-div .radio-inputs .radio input {
    display: none;
}

.product-info-div .radio-inputs .radio .name {
    height: 35px;
    display: flex;
    border-radius: 0px !important;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    transition: all .15s ease-in-out;
  }
  
  .product-info-div .radio-inputs .radio .name:hover{
    background-color: rgb(187, 187, 187);
  }

  .product-info-div .radio-inputs .radio input:checked + .name {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
  }

  
  .product-info-div .size-guide-btn{
    background-color: rgb(214, 214, 214);
    padding: 10px 12px;
    color: var(--text-color);
    border: none;
    outline: none;
    font-family: 'proxima-semibold';
    transition: all 0.2s ease-in-out;
  }

  .product-info-div .size-guide-btn:hover{
    background-color: rgb(187, 187, 187);
  }

  .size-table{
    font-family: 'proxima-regular';
  }

  
  .size-note{
    font-size: 1rem;
  }

.product-info-div .selected-color{
    text-transform: capitalize;
}

  .product-info-div .colors-div{
    background-color: rgb(190, 189, 189);
    width: max-content;
    padding: 4px;
  }

  .product-info-div .colors-div #color-black, #color-white{
    display: none;
  }


  .product-info-div .colors-div .color-black{
    width: 30px;
    height: 30px;
    display: block;
    background-color: black;
    border: 2px solid transparent;
    cursor: pointer;
}

.product-info-div .colors-div .color-white{
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    cursor: pointer;
  }

  .product-info-div .colors-div #color-black:checked + .color,
  .product-info-div .colors-div #color-white:checked + .color
  {
    border-color: var(--primary-color);
  }

  .qty-div {
	label {
		flex: 1 0 100%;
	}
	input {
		width: 3rem; height: 2.5rem;	
		font-size: 1rem;
		/* text-align: center; */
		border: 2px solid var(--primary-color);
        outline: none;
        text-align: center;
        padding-right: 4px;
	}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
    }

	button {
		width: 1.3rem; height: 1.3rem;
		color: #fff;
		font-size: 0.9rem;
        font-weight: bold;
        border: none;
        outline: none;
		background: var(--primary-color);
	}
	button.qtyminus {
		margin-right: 0.3rem;
	}
	button.qtyplus {
		margin-left: 0.3rem;
	}

    .cart-qty::-webkit-outer-spin-button,
    .cart-qty::-webkit-inner-spin-button {
    -webkit-appearance: auto;
    margin: initial;
    }

}





  .product-info-div .add-to-cart-btn{
    outline: none;
    padding: 14px 12px;
    border: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    width: 300px;
    font-family: 'proxima-semibold';
    text-transform: capitalize;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
  }

  .product-info-div .add-to-cart-btn:hover{
    background-color: #5d3324;
  }

@media(max-width: 450px){
    .product-main{
        margin: 60px auto;
    }   
    .product-imgs-div .product-main-img img{
        width: 100%;
        height: 400px;
    }
    .product-imgs-div .other-imgs-div .product-img img{
        height: 100px;
        width: 60px;
    }
    .product-info-div .add-to-cart-btn{
        width: 100%;
    }
}


/* product details page styling */

/* Cart page styling */



/* Cart page styling */

.con-shop{
    font-size: 1.2rem;
    font-family: 'proxima-semibold';
    background-color: transparent;
    color: var(--text-color);
    border: none;
    transition: all 0.2s ease-in-out;
}

.con-shop-empty{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.1rem;
    padding: 12px 16px;
    border: none;
    font-family: 'proxima-regular';
    margin-top: 24px;
    transition: all 0.2s ease-in-out;
}

.con-shop:hover, .con-shop-empty:hover{
    background-color: #5d3324;
}

.empty-cart{
    font-family: 'proxima-semibold';
}

.cart-table{
    width: 100%;
    position: relative;
}


.cart-table thead tr{
    padding: 12px 0;
    color: var(--background-color);
    font-size: 1.3rem;
    font-family: 'proxima-semibold';
    border: 1px solid rgb(184, 182, 182);
    border-bottom: none;
    background-color: var(--primary-color);
}


.cart-table tbody tr{
    border: 1px solid rgb(184, 182, 182);
    border-bottom:   none;
    padding: 20px 0;
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-table tbody tr:last-child{
    border-bottom: 1px solid rgb(184, 182, 182);
}

.cart-table tbody tr .cart-item-img{
    width: 120px;
    height: 140px;
}

.cart-table tbody tr .cart-item-img img{
    width: 100%;
    height: 100%;
}

.cart-table .bold, .cart-total-section .bold{
    font-family: 'proxima-semibold';
}

.cart-table .bold-h{
    font-family: 'proxima-regular';
}

.cart-table .hidden{
    display: none;
}

.cart-table .delete-cart-item{
    border: none;
    background-color: none;
}

.cart-total-section{
    font-family: 'proxima-regular';
}

.cart-total-section .ct, .cart-total-section .cart-total{
    font-size: 1.4rem;
}


/* checkout button */

.cart-total-section a{
    text-decoration: none;
}

.cart-total-section .checkout-btn{
    border: none;
    font-family: 'proxima-regular';
    color: var(--background-color);
    background-color: var(--primary-color);
    text-align: var(--background-color);
    font-size: 1.2rem;
    padding: 12px 16px;
    margin-top: 24px;
    transition: all 0.3s ease-in-out;
}

.cart-total-section .checkout-btn:hover{
    background-color: #5d3324;
}

@media(max-width: 1200px){
    .cart-table .cart-item-details{
        margin-top: 24px;
    }

    .cart-table tbody tr .cart-item-img{
        width: 90px;
        height: 100px;
    }
}

@media(max-width: 768px){
    .con-shop{
        font-size: 1rem;
    }

    .cart-table thead{
        display: none;
    }

    .cart-table tbody tr .cart-item-img{
        width: 280px;
        height: 320px;
    }

    .cart-table .hidden{
        display: inline;
    }

    .cart-table .bold-h{
        font-family: 'proxima-semibold';
    }

    .cart-total-section .ct, .cart-total-section .cart-total{
        font-size: 1.2rem;
    }   

    .cart-total-section p{
        font-size: 0.9rem;
    }

    .cart-total-section .checkout-btn{
        padding: 8px 12px;       
        font-size: 1rem;
        width: 100%;
    }
}

/* Checkout page styling */


.shipping-details{
    background-color: #fff;
    padding: 24px;
    font-family: 'proxima-semibold';
}

.checkout-form{

    .input-div{
        font-family: 'proxima-regular';
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    label{
        margin-bottom: 8px;
    }

    input{
        border: 1px solid var(--primary-color);
        outline: none;
        padding: 6px; 
    }

    select{
        border: 1px solid var(--primary-color);
        outline: none;
        padding: 7px;
    }

    .star{
        color: red;
    }

    .place-order-btn{
        outline: none;
        border: none;
        background-color: var(--primary-color);
        color: var(--background-color);
        width: 100%;
        padding: 12px;
        font-size: 1.3rem;
        font-family: 'proxima-regular';
        transition: all 0.3s ease-in-out;
    }

    .place-order-btn:hover{
        background-color: #5d3324;
    }
}


.checkout-cart-details{
    padding: 24px;
    background-color: #fff;
    width: 450px !important;
}

.checkout-img{
    position: relative;
}

.checkout-img img{
    height: 80px;
    width: 60px;
}

.checkout-img .checkout-item-count{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 0.87rem;
    font-family: 'proxima-regular';
    width: 22px;
    height: 22px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    right: -10px;
    top: -10px;
}


.checkout-cart-details p{
    font-family: 'proxima-regular';   
    font-size: 0.95rem;
}

.checkout-product-subtotal{
    width: 100px;
    text-align: right;
}

.flexer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkout-total p{
    font-size: 1.3rem;
    font-family: 'proxima-semibold';
}



@media(max-width: 525px){
    .checkout-cart-details{
        background-color: transparent;
    }
    .shipping-details, .checkout-cart-details{
        padding: 24px 12px;
    }
    .checkout-section .row{
        flex-direction: column;
    }

}

/* Checkout page styling */


/* Thankyou page styling */

.thankyou-container h3{
    font-family: 'proxima-semibold';
}

.thankyou-container .summary-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou-container .summary-table{
    font-family: 'proxima-regular';
    font-size: 1.2rem;
    border: 1px solid var(--primary-color);
}

.summary-table{
    td{
        padding: 6px 20px;
        border: 1px solid var(--primary-color);
    }
}

@media(max-width: 425px){
    .thankyou-container .summary-table{
        font-size: 1rem;
    }

    .summary-table td{
        padding: 6px 8px;
    }
}


/* Thankyou page styling */

/* My account page styling */

.myaccount-heading{
    font-family: 'proxima-semibold';
}

.order-container {
    background-color: white;
    margin: 1rem;
    font-family: 'proxima-regular';
}

.order-header {
    background-color: white;
    padding: 1.5rem;
    font-family: 'proxima-regular';
}

.detail-card {
    background: white;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.order-container .product-img {
    height: 80px;
    width: 60px;
    object-fit: cover;
}

.status-badge {
    padding: 0.5rem 1rem;
    font-weight: 500;
    background-color: #e7e7e7;
    color: var(--text-color);
    display: inline-block;
}

.btn-cancel {
    background-color: var(--primary-color);
    color: white;
    border: none;   
    border-radius: 0;
}

.btn-cancel:hover {
    background-color: #5d3324;
    color: white;
}

.order-container .table thead th {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1rem;
    font-weight: normal;
}

.order-container .table tbody tr td{
    font-size: 1rem;
}

.accordion {
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='brown'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='brown'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body{
    padding: 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .order-header .row > div {
        margin-bottom: 1rem;
    }
    
    .payment-summary .d-flex {
        flex-direction: column;
        gap: 1rem !important;
    }
    
    .order-container .shipping-details .row > div {
        margin-bottom: 1rem;
    }
    
    .btn-cancel {
        /* width: 100%; */
        margin-top: 0.5rem;
    }
    
    .order-container .product-img {
        height: 60px;
        width: 45px;
    }
    .order-container .table thead th,
    .order-container .table tbody tr td{
        font-size: 0.9rem;
    }
}

.btn-close{
    --bs-btn-close-focus-shadow: none;
}

.sidebar{
    width: 250px !important;
    font-family: 'proxima-semibold';
}

.sidebar-toggler{
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.sidebar-toggler:hover{
    background-color: #5d3324;
}

.sidebar nav ul{
    padding-left: 0;
}

.sidebar nav ul li{
    list-style: none;
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.sidebar nav ul li a{
    text-decoration: none;
    color: #626262;
    transition: all 0.2s ease-in-out;
}

.sidebar nav ul li a:hover{
    color: var(--text-color);
}

.sidebar nav .logout-btn{
    font-family: 'proxima-regular';
    font-size: 1.1rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: #626262;

}

.user-shipping-container{
    background-color: #fff;
    padding: 28px 16px;
    font-family: 'proxima-regular';

    .input-div label{
        display: block;
        margin-bottom: 4px;
    }


    .input-div input{
        width: 100%;
        border: 1px solid var(--primary-color);
        outline: none;
        padding: 6px;
    }

    select{
        border: 1px solid var(--primary-color);
        outline: none;
        padding: 7px;
        width: 100%;
    }

    #save-btn{
        background-color: var(--primary-color);
        color: var(--background-color);
        outline: none;
        border: none;
        padding: 10px;
        font-family: 'proxima-regular';
        font-size: 1.1rem;
        transition: all 0.2s ease-in-out;
    }

    #save-btn:hover{
        background-color: #5d3324;
        
    }

    .star{
        color: red;
    }
}

.shipping-faqs-container{
    background-color: #fff;
    font-family: 'proxima-regular';
    padding: 28px 16px;

    .accordion-button p{
        font-family: 'proxima-semibold';
    }

}   
/* My account page styling */